include README.md
recursive-include octoprint_Octoslack *
recursive-include octoprint_Octoslack/templates *
recursive-include octoprint_Octoslack/translations *
recursive-include octoprint_Octoslack/static *